<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GifMagic MVP </title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center;padding: 50px; }
        input[type="file"] { margin: 20px; }
        .btn { background-color: #86A3A3; color: white; padding: 10px 20px; border: none; cursor: pointer; }
        .btn:hover { background-color: #5b7c7c; }
        img { margin-top: 30px; width: 300px; border: 2px solid #ccc;border-radius: 10px; }
    </style>
</head>
<body>
    <h1> GifMagic MVP </h1>
    <p> Upload a image to see it come alive as a short animated GIF!</p>

    {% if not uploaded_image %}
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <br>
            <button type="submit">Upload Image</button>
        </form>
        {% else %}
            <form method="POST">
                <label for="effect">Choose an animation effect:</label>
                <select name="effect">
                    <option value="zoom">Zoom</option>
                    <option value="rotate">Rotate</option>
                    <option value="pan">Pan</option>
                    <option value="fade">Fade</option>
                </select>
                <br><br>
                <button type="submit">Apply Effect</button>
                <br><br>
            </form>

        <form method="GET" action="{{ url_for('reset') }}">
            <button type="submit" class="btn reset-btn">Upload New Image</button>
        </form>
    {% endif %}

    {% if result_gif %}
        <h2>Your animated GIF:</h2>
        <img src="{{url_for('send_output',filename=result_gif) }}" alt="Generated GIF">
        <p><a href = "{{url_for('send_output',filename=result_gif)}}" download>Download GIF</a></p>
    {% endif %}
</body>
</html>